.logo{
    display: block;
    margin: auto;
    width: 50px; 
    height: 50px;
}


.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;

}
.msg{
    background-color: gray;
    width: 24%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 17px 12px;

}

.left{
    float: left;
    clear: both;

}

.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;

}
#messageInp{
    width:80%;
    border: 2px solid black; 
    border-radius:6px ;
    height: 34px;
    margin: auto;
    

}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

body{
    height: 100vh;
    background-image:linear-gradient(rgb(255 255 255), rgb(130, 155, 227)) ;
}




















